<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cultureIsland.mapper.ArticleMapper">
    <resultMap id="articleResultMap" type="Article">
        <id column="aid" property="aid"></id>
        <result column="t_title" property="title"></result>
        <result column="t_content" property="content"></result>
        <result column="t_date" property="date"></result>
        <result column="id" property="uid"></result>
        <result column="user_name" property="username"></result>
    </resultMap>
    <select id="getAllArticle" resultMap="articleResultMap">
        select aid, t_title, t_content, t_data, id, user_name
        from t_article,
        t_user
        where u_id = id
        <if test="str != null and str != ''">
            and t_title like #{str}
        </if>;
    </select>
    <select id="getUserArticle" resultMap="articleResultMap">
        select aid, t_title, t_content, t_data, id, user_name
        from t_article,
        t_user
        where u_id = id and u_id = #{uid}
        <if test="str != null and str != ''">
            and t_title like #{str}
        </if>;
    </select>
    <insert id="insertArticle">
        insert into t_article
        values (null, #{article.title}, #{article.content}, #{article.date}, #{article.uid});
    </insert>
    <delete id="deleteArticleByAid">
        delete
        from t_article
        where aid = #{aid};
    </delete>
    <update id="updateArticle">
        update t_article
        set t_title   = #{article.title},
            t_content = #{article.content}
        where aid = #{article.aid};
    </update>
</mapper>