<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cultureIsland.mapper.ArticleMapper">
    <resultMap id="articleResultMap" type="Article">
        <id column="aid" property="aid"></id>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="date" property="date"></result>
        <result column="view_count" property="viewCount"></result>
        <result column="id" property="uid"></result>
        <result column="user_name" property="username"></result>
    </resultMap>
    <select id="getAllArticle" resultMap="articleResultMap">
        select aid, title, content, `data`,view_count, id, user_name
        from article,
        `user`
        where a_uid = id
        <if test="str != null and str != '' and str != '%null%'">
            and title like #{str}
        </if>;
    </select>
    <select id="getUserArticle" resultMap="articleResultMap">
        select aid, title, content, `data`,view_count, id, user_name
        from article,
        `user`
        where a_uid = id and a_uid = #{uid}
        <if test="str != null and str != '' and str != '%null%'">
            and title like #{str}
        </if>
    </select>
    <insert id="insertArticle">
        insert into article
        values (null, #{article.title}, #{article.content}, #{article.date}, 0, #{article.uid});
    </insert>
    <delete id="deleteArticleByAid">
        delete
        from article
        where aid = #{aid};
    </delete>
    <update id="updateArticle">
        update article
        set title   = #{article.title},
            content = #{article.content}
        where aid = #{article.aid};
    </update>
    <update id="addViewCountByAid">
        update article
        set view_count = view_count + 1
        where aid = #{aid};
    </update>
</mapper>