<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cultureIsland.mapper.ViewMapper">
    <select id="getUrlByVid" resultType="String">
        select vurl
        from `view`;
    </select>
    <insert id="insertUrl">
        insert into `view`
        values (null,#{url});
    </insert>
</mapper>